{% include 'head.html' %}

<div id="menu">
    <div class="main">

        {% include 'sidebar.html' %}

        <div class="container">
            <div class="card">
                <img class="img_bulnabang" src="../static/image/doughnut/cafeknotted.png" alt="">

                <p class="font_01_bulnabang">노티드도넛</p>
                <p class="font_02_bulnabang">🐻Knotted X Sugarbear🐻</p>
                <p class="font_03_bulnabang">서울 용산구 대사관로5길 12 2층</p>
                <a href="https://map.naver.com/v5/search/%EB%85%B8%ED%8B%B0%EB%93%9C%EB%8F%84%EB%84%9B/place/1097972836?c=14133865.7992980,4514256.2349801,13,0,0,0,dh&placePath=%3Fentry%253Dpll%2526"
                   target="_blank">
                    <img class="logo_naver" src="../static/png/logo_naver.png" alt=""></a>
                <a href="https://www.instagram.com/cafeknotted/" target="_blank">
                    <img class="logo_instagram" src="../static/png/logo_instagram.png" alt=""></a>

            </div>
            <div class="card">
                <img class="img_bulnabang" src="../static/image/doughnut/fluffy.png">
                <p class="font_01_bulnabang">플러피도넛</p>
                <p class="font_02_bulnabang">crispy yummy fluffy!</p>
                <p class="font_03_bulnabang">서울 마포구 성미산로 163</p>
                <a href="https://map.naver.com/v5/entry/place/1293352409?c=14129146.8088962,4518143.5071791,15,0,0,0,dh&placePath=%3Fentry=plt"
                   target="_blank">
                    <img class="logo_naver" src="../static/png/logo_naver.png" alt=""></a>
                <a href="https://www.instagram.com/fluffy.doughnut/" target="_blank">
                    <img class="logo_instagram" src="../static/png/logo_instagram.png" alt=""></a>

            </div>
            <div class="card">
                <img class="img_bulnabang" src="../static/image/doughnut/oldferrydonut.png" alt="" border="1"
                     bordercolor="gray">
                <p class="font_01_bulnabang">올드페리도넛</p>
                <p class="font_02_bulnabang">직접 로스팅 한 커피와 도넛을 판매합니다.</p>
                <p class="font_03_bulnabang">서울 용산구 한남대로27길 66</p>
                <a href="https://map.naver.com/v5/search/%EC%98%AC%EB%93%9C%ED%8E%98%EB%A6%AC%EB%8F%84%EB%84%9B/place/1029619861?c=14136954.3329722,4514688.5819213,15,0,0,0,dh&placePath=%3F%2526"
                   target="_blank">
                    <img class="logo_naver" src="../static/png/logo_naver.png" alt=""></a>
                <a href="https://www.instagram.com/oldferrydonut/" target="_blank">
                    <img class="logo_instagram" src="../static/png/logo_instagram.png" alt=""></a>

            </div>
            <div class="card">
                <img class="img_bulnabang" src="../static/image/doughnut/randys02.png" alt="">
                <p class="font_01_bulnabang">랜디스도넛</p>
                <p class="font_02_bulnabang">수제 도넛 브랜드</p>
                <p class="font_03_bulnabang">🍊제주애월점 🍩서울연남점</p>

                <a href="http://randysdonuts.co.kr/" target="_blank">
                    <img class="logo_naver" src="../static/png/logo_naver.png" alt=""></a>
                <a href="https://www.instagram.com/randysdonutskr1962/" target="_blank">
                    <img class="logo_instagram" src="../static/png/logo_instagram.png" alt=""></a>

            </div>
            <div class="card">
                <img class="img_bulnabang" src="../static/image/doughnut/papadonas.png" alt="" border="1"
                     bordercolor="gray">
                <p class="font_01_bulnabang">파파도나스</p>
                <p class="font_02_bulnabang">🍩1-2일전 예약은 센스😘</p>
                <p class="font_03_bulnabang">서울 용산구 신흥로 7</p>
                <a href="http://papadonas.com/"
                   target="_blank">
                    <img class="logo_naver" src="../static/png/logo_naver.png" alt=""></a>
                <a href="https://www.instagram.com/papadonas_hbc/" target="_blank">
                    <img class="logo_instagram" src="../static/png/logo_instagram.png" alt=""></a>

            </div>


        </div>
    </div>
</div>


</body>
</html>
