{% include 'head.html' %}

<div id="menu">
    <div class="main">

        {% include 'sidebar.html' %}

        <div class="container">
            <div class="card">
                <img class="img_bulnabang" src="../static/image/macaron/atmosphere.png" alt="">

                <p class="font_01_bulnabang">엣모스피어</p>
                <p class="font_02_bulnabang">Dessert&cafe 수제케이크와 마카롱</p>
                <p class="font_03_bulnabang">서울 마포구 망원로 54-1</p>
                <a href="https://map.naver.com/v5/search/%EC%97%A3%EB%AA%A8%EC%8A%A4%ED%94%BC%EC%96%B4/place/36883540?c=14122963.9681388,4517342.3799971,13,0,0,0,dh&placePath=%3Fentry%253Dpll%2526"
                   target="_blank">
                    <img class="logo_naver" src="../static/png/logo_naver.png" alt=""></a>
                <a href="https://www.instagram.com/atmosphere.cafe/" target="_blank">
                    <img class="logo_instagram" src="../static/png/logo_instagram.png" alt=""></a>

            </div>
            <div class="card">
                <img class="img_bulnabang" src="../static/image/macaron/incompletetable.png" alt="">
                <p class="font_01_bulnabang">미완성식탁</p>
                <p class="font_02_bulnabang">망원동 말이 필요없는 마카롱 맛집</p>
                <p class="font_03_bulnabang">서울 마포구 망원로6길 37</p>
                <a href="https://map.naver.com/v5/entry/place/1837274244?c=14126867.0191205,4516790.9444420,15,0,0,0,dh&placePath=%3Fentry=plt"
                   target="_blank">
                    <img class="logo_naver" src="../static/png/logo_naver.png" alt=""></a>
                <a href="https://www.instagram.com/incompletetable/" target="_blank">
                    <img class="logo_instagram" src="../static/png/logo_instagram.png" alt=""></a>

            </div>
            <div class="card">
                <img class="img_bulnabang" src="../static/image/macaron/ofyou.jpeg" alt="">
                <p class="font_01_bulnabang">Of you</p>
                <p class="font_02_bulnabang">카페 오브유[of you]</p>
                <p class="font_03_bulnabang">구미시 문장로 88, 2층</p>
                <a href="https://map.naver.com/v5/search/%EA%B5%AC%EB%AF%B8%20%EC%98%A4%EB%B8%8C%EC%9C%A0/place/1095240517?placeSearchOption=fromNxList=true%26noredirect=1%26entry=pll&c=14282096.3064000,4320407.1539346,13,0,0,0,dh&placePath=%2Fhome%3Fentry=pll
​"
                   target="_blank">
                    <img class="logo_naver" src="../static/png/logo_naver.png" alt=""></a>
                <a href="https://www.instagram.com/o.f.y.o.u/?igshid=xygco9t1p3vw" target="_blank">
                    <img class="logo_instagram" src="../static/png/logo_instagram.png" alt=""></a>

            </div>
            <div class="card">
                <img class="img_bulnabang" src="../static/image/macaron/cong.png" alt="">
                <p class="font_01_bulnabang">디저트콩콩</p>
                <p class="font_02_bulnabang">수제 마카롱 가득한 맛있는 디저트 맛집</p>
                <p class="font_03_bulnabang">서울 은평구 역촌동 78-1</p>

                <a href="https://map.naver.com/v5/search/%EB%94%94%EC%A0%80%ED%8A%B8%EC%BD%A9%EC%BD%A9/place/1235128808?placeSearchOption=fromNxList=true%26noredirect=1%26entry=pll&c=14123776.1115644,4523715.3172304,13,0,0,0,dh&placePath=%2Fhome%3Fentry=pll"
                   target="_blank">
                    <img class="logo_naver" src="../static/png/logo_naver.png" alt=""></a>
                <a href="https://www.instagram.com/dessert_kongkong/" target="_blank">
                    <img class="logo_instagram" src="../static/png/logo_instagram.png" alt=""></a>

            </div>
            <div class="card">
                <img class="img_bulnabang" src="../static/image/macaron/haroo02.png" alt="">
                <p class="font_01_bulnabang">하루쿠키</p>
                <p class="font_02_bulnabang">macaron & cake</p>
                <p class="font_03_bulnabang">전북 군산시 서수송1길 14-5</p>
                <a href="https://map.naver.com/v5/entry/place/36282923?c=14105186.4684895,4295786.9225496,15,0,0,0,dh&placePath=%3Fentry=plt"
                   target="_blank">
                    <img class="logo_naver" src="../static/png/logo_naver.png" alt=""></a>
                <a href="https://www.instagram.com/haroo.cookie/" target="_blank">
                    <img class="logo_instagram" src="../static/png/logo_instagram.png" alt=""></a>

            </div>
            <div class="card">
                <img class="img_bulnabang" src="../static/image/macaron/avvio02.png">
                <p class="font_01_bulnabang">아비오</p>
                <p class="font_02_bulnabang">유기농 커피 전문 로스터리 카페입니다.</p>
                <p class="font_03_bulnabang">마포구 성미산로 82 명주빌딩 1층</p>
                <a href="https://map.naver.com/v5/search/%EC%B9%B4%ED%8E%98%20%EC%95%84%EB%B9%84%EC%98%A4/place/38522226?placeSearchOption=fromNxList=true%26noredirect=1%26entry=pll&c=14124540.4818472,4517863.1072523,13,0,0,0,dh&placePath=%2Fhome%3Fentry=pll"
                   target="_blank">
                    <img class="logo_naver" src="../static/png/logo_naver.png" alt=""></a>

            </div>


        </div>
    </div>
</div>


</body>
</html>
