{% include 'head.html' %}

<div class="wrap" id="menu">
    <div class="main">

        {% include 'sidebar.html' %}

        <div class="container">
            <div class="card">
                <img class="img_bulnabang" src="../static/image/케이크/불나방02.png" alt="">

                <p class="font_01_bulnabang">불나방</p>
                <p class="font_02_bulnabang">센스있는 디저트작업실 불나방</p>
                <p class="font_03_bulnabang">역촌동 34-19번지 부동산옆</p>
                <a href="https://map.naver.com/v5/search/%EB%B6%88%EB%82%98%EB%B0%A9/place/1445926280?placeSearchOption=fromNxList=true%26noredirect=1%26entry=pll&c=14128325.493693072,4523451.516910225,13,0,0,0,dh&placePath=%2Fhome%3Fentry=pll"
                   target="_blank">
                    <img class="logo_naver" src="../static/png/logo_naver.png" alt=""></a>
                <a href="https://www.instagram.com/nabang.official/" target="_blank">
                    <img class="logo_instagram" src="../static/png/logo_instagram.png" alt=""></a>

            </div>
            <div class="card">
                <img class="img_bulnabang" src="../static/image/케이크/스위츠마인.png" alt="" border="1" bordercolor="gray">
                <p class="font_01_bulnabang">스위츠마인</p>
                <p class="font_02_bulnabang">나카무라아카데미 전문가과정 수료</p>
                <p class="font_03_bulnabang">서울 은평구 역촌동 83-30 102호</p>
                <a href="https://map.naver.com/v5/entry/place/1344773660?c=14128132.61041138,4523222.630864622,13,0,0,0,dh&placePath=%2Fhome%3Fentry=plt"
                   target="_blank">
                    <img class="logo_naver" src="../static/png/logo_naver.png" alt=""></a>
                <a href="https://www.instagram.com/sweets.mine/?igshid=ef1nwyqypnip" target="_blank">
                    <img class="logo_instagram" src="../static/png/logo_instagram.png" alt=""></a>

            </div>
            <div class="card">
                <img class="img_bulnabang" src="../static/image/케이크/쭈롱베이커리.png" alt="">
                <p class="font_01_bulnabang">쭈롱베이커리</p>
                <p class="font_02_bulnabang">계절과 건강을 디저트로</p>
                <p class="font_03_bulnabang">경북 김천시 부곡중앙길 4 1층</p>
                <a href="https://map.naver.com/v5/search/%EB%B6%88%EB%82%98%EB%B0%A9/place/1445926280?placeSearchOption=fromNxList=true%26noredirect=1%26entry=pll&c=14128325.493693072,4523451.516910225,13,0,0,0,dh&placePath=%2Fhome%3Fentry=pll"
                   target="_blank">
                    <img class="logo_naver" src="../static/png/logo_naver.png" alt=""></a>
                <a href="https://www.instagram.com/nabang.official/" target="_blank">
                    <img class="logo_instagram" src="../static/png/logo_instagram.png" alt=""></a>

            </div>
            <div class="card">
                <img class="img_bulnabang" src="../static/image/케이크/happy puppy house.png" alt="" border="1"
                     bordercolor="gray">
                <p class="font_01_bulnabang">happy puppy house</p>
                <p class="font_02_bulnabang">happy puppy</p>
                <p class="font_03_bulnabang">경리단길</p>

                <a href="https://www.instagram.com/happypuppyhouse_/" target="_blank">
                    <img class="logo_instagram" src="../static/png/logo_instagram.png" alt=""></a>

            </div>
            <div class="card">
                <img class="img_bulnabang" src="../static/image/케이크/로타리과자점02.png" alt="">
                <p class="font_01_bulnabang">로타리과자점</p>
                <p class="font_02_bulnabang">망원동에 위치한 과자점 입니다.</p>
                <p class="font_03_bulnabang">서울 마포구 망원로6길 65</p>
                <a href="https://map.naver.com/v5/entry/place/1463632135?c=14126910.6118331,4516631.9068985,13,0,0,0,dh&placePath=%2Fhome%3Fentry=plt"
                   target="_blank">
                    <img class="logo_naver" src="../static/png/logo_naver.png" alt=""></a>
                <a href="https://www.instagram.com/nabang.official/" target="_blank">
                    <img class="logo_instagram" src="../static/png/logo_instagram.png" alt=""></a>

            </div>
            <div class="card">
                <img class="img_bulnabang" src="../static/image/케이크/바나나하루키.png" alt="">
                <p class="font_01_bulnabang">바나나하루키</p>
                <p class="font_02_bulnabang">:YOUR CAKE</p>
                <p class="font_03_bulnabang">서울 마포구 상수동 72-43</p>
                <a href="https://map.naver.com/v5/entry/place/37468319?c=14129273.4125530,4515851.7929668,15,0,0,0,dh&placePath=%3Fentry=plt"
                   target="_blank">
                    <img class="logo_naver" src="../static/png/logo_naver.png" alt=""></a>
                <a href="https://www.instagram.com/banana_haruki/" target="_blank">
                    <img class="logo_instagram" src="../static/png/logo_instagram.png" alt=""></a>

            </div>

        </div>
    </div>
</div>

<script src="../static/js/menu.js"></script>
</body>
</html>
